<!DOCTYPE html>
<html>
    <head>
        <title>Django2 blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django2 Blog</a></h1>
        </header>

        <article>
            <time>published: 14.01.2023, 20:59</time>
            <h2><a href="">My first post</a></h2>
            <p>You have always wanted to have your own blog and use it to promote your business or product. You know that a blog is crucial for SEO, thought leadership, and building authority among your target audience. But the task of actually sitting down and writing a blog post can seem overwhelming. Especially your very first blog post.

                But like everything else, writing a blog gets easier the more you practice. It is important to focus on churning out your first blogs and doing it right. Then, you can get into the rhythm of regularly creating blog content that is high quality and engaging. 
                
                So let us get down to the details and explore how to write your first blog and what you need to do to get started.</p>
        </article>

        <article>
            <time>published: 14.01.2023, 21:01</time>
            <h2><a href="">My second post</a></h2>
            <p> To like or comment as your Page on another Page's post, you'll need:

                Facebook access to a new Page.
                To be an admin, editor or moderator of a classic Page.</p>
        </article>
    </body>
</html>